{:paths ["src/clj" "src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0" :scope "provided"}
        ring {:mvn/version "1.6.3"}
        ring-basic-authentication {:mvn/version "1.0.5"}
        hawk {:mvn/version "0.2.11"}
        http-kit {:mvn/version "2.2.0"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.0"} ; necessary for Java 9 compatibility
        compliment {:mvn/version "0.3.1"}
        eval-soup {:mvn/version "1.2.5"}
        dynadoc {:mvn/version "1.1.6"
                 :exclusions [org.clojure/clojurescript rum paren-soup html-soup]}
        org.clojure/tools.reader {:mvn/version "1.1.1"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.9.946" :scope "test"}
                               paren-soup {:mvn/version "2.9.4" :scope "test"}
                               mistakes-were-made {:mvn/version "1.7.4" :scope "test"}
                               cljsjs/codemirror {:mvn/version "5.24.0-1" :scope "test"}
                               reagent {:mvn/version "0.8.0-alpha2" :scope "test"}
                               cljs-react-material-ui {:mvn/version "0.2.50" :scope "test"}}}}}
