{:paths ["src" "resources" "target-js"]
 :deps {ring {:mvn/version "1.7.1"}
        org.eclipse.jetty/jetty-server {:mvn/version "9.4.12.v20180830"}
        org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.12.v20180830"}
        org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.4.12.v20180830"}
        ring-basic-authentication {:mvn/version "1.0.5"}
        hawk {:mvn/version "0.2.11"}
        http-kit {:mvn/version "2.3.0"}
        compliment {:mvn/version "0.3.8"}
        eval-soup {:mvn/version "1.5.0"}
        dynadoc {:mvn/version "1.6.5"
                 :exclusions [rum paren-soup html-soup]}
        org.clojure/tools.reader {:mvn/version "1.3.2"}
        org.clojure/tools.cli {:mvn/version "0.3.5"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                               paren-soup {:mvn/version "2.14.3"}
                               cljsjs/codemirror {:mvn/version "5.40.2-1"}
                               reagent {:mvn/version "0.8.1"}
                               cljs-react-material-ui {:mvn/version "0.2.50"}}}
           :dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
                              orchestra {:mvn/version "2018.12.06-2"}
                              expound {:mvn/version "0.7.2"}}
                 :extra-paths ["target"]}
           :prod {:extra-deps {leiningen {:mvn/version "2.9.0"}}}}}
